<article class="card large-padding top-space block todo-card"
 (mousedown)="press = 'down';"
 (mouseup)="press = 'up';"
 (press)="press = 'down';"
 (pressUp)="press = 'up';"
 [@pressAnimation]="press"
 [@statusAnimation]="todo.status"
 (swipeLeft)="completed()">
    <h4>{{todo.content}}</h4>

    <p *ngIf="todo.expiresAt">
        <i class="fa fa-calendar"></i>
        {{moment(todo.expiresAt).fromNow()}}
        {{todo.expiresAt}}
    </p>

    <p *ngIf="todo.description">{{todo.description}}</p>
</article>