/* You can add global styles to this file, and also import other style files */
@import './assets/style/colors.css';
@import './assets/style/default.css';
@import '../node_modules/ng-pick-datetime/assets/style/picker.min.css';


.large-padding{
    padding: 10px 15px;
}

.relative{
    position: relative;
}

.small-padding{
    padding: 8px;
}

.notification-windows{
 position: absolute;
 top: 50px;
 right: 0;
 width: 300px;
 font-size: 0.7em;
 z-index: 100;
}

.lateral-padding{
    padding: 0 8px;
}

.float-right{
    float: right;
}

.main-nav .float-right a{
    margin-right: 1em
}

.small-font{
    font-size: 0.8em;
}

.top-space{
    margin-top: 1em;
}

.no-background{
    background: transparent;
}


button.no-background, button.card{
    font-size: 1em;
    outline: 0;
    border: 0;

}

.text-right{
text-align: right;
}

.overflow-hidden{
    overflow: hidden;
}

.pointer{
    cursor: pointer;
}

.full-width{
    width: 100%;
}

.card{
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    position: relative;
}

.card.width-badge{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "title title title title title title title title badge badge";
    align-items: center;
}

.card.width-badge h4{
    grid-area: title;
}

.card.width-badge .badge{
    grid-area: badge;
    display: flex;
    justify-content: flex-end;
}

.card.width-badge span{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-card{
transform: translateX(-100px);
position: relative;
}

.todo-card::after{
position: absolute;
z-index: -1;
content: '\f00c';
font-family: FontAwesome;
top: 50%;
right: -2em;
font-weight: bold;
}

.form-control{
    width: 100%;
    outline: 0;
    border: 0;
    display: block;
    padding: 10px 15px;
    margin-top: 1em;
    font-size: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

.btn{
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1em 1.5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    font-size: 1em;
    cursor: pointer;
}

.main-nav a{
    text-decoration: none;
}